<header class="container-fluid page-header">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <p>
          <a classe="navbar-brand" href="#">
            <img src='assets\images\logo.png' alt="Developers Logo" width="30" height="30" margin-left=5px>
          </a>
        </p>
        <a class="navbar-brand" href="#">
          Developers Market
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navigation"
          aria-controls="header-navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flaot-left" id="header-navigation">
          <ul class="navbar-nav ml-auto">
            <li classe="nav-item float-right">
              <a href="http://blog.developers.market/" class="nav-link" role="button">Blog</a>
            </li>
            <li class="nav-link">
              <a class="nav-item" [routerLink]="['/auctions']" [routerLinkActive]="['active']">
                Projects
              </a>
            </li>
            <li class="nav-link">
              <a class="nav-item active" [routerLink]="['/repositories']" [routerLinkActive]="['active']"
                *ngIf="authGuard.hasTheRole(currentUser, 'ROLE_ADMIN')">Repositories
              </a>
            </li>
            <li class="nav-link" *ngIf="authGuard.hasTheRole(currentUser, 'ROLE_ADMIN')">
              <a class="nav-item" [routerLink]="['/users']" [routerLinkActive]="['active']">Manage users
              </a>
            </li>
            <li class="nav-link">
              <a classe="nav-item" [routerLink]="['/profil']" *ngIf="currentUser" role="button">Profil</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/repositories/add']" [routerLinkActive]="['active']">
                <i class="nav-item fas fa-fw fa-plus"></i>Add project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/logout']" *ngIf="currentUser">Log out
                [{{ currentUser.username }}]</a>
              <a class="nav-link" [routerLink]="['/login']" *ngIf="!currentUser">Login</a>
            </li>
            <li class="nav-link" *ngIf="currentUser">
              <a href="javascript:;" class="nav-link">
                <span class="badge badge-warning">
                  <i class="fas fa-fw fa-money-bill"></i>
                  {{ (currentUser.sold_sdg || 0) | number : "1.2-3" }} SDG
                </span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>