/**
 * This is the file to hold variables that will override bootstrap and can be used in other components
 */

$primary: rgb(18, 97, 160);
$secondary: rgba(54, 155, 146, 1);
$success: rgb(241, 178, 77);
$info: rgba(192, 222, 217, 1);
$warning: rgba(255, 238, 126, 1);
$danger: rgba(217, 62, 42, 1);
$light: rgb(255, 255, 255);
$dark: rgba(40, 40, 40, 1);

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark
);
