//responsive design for tables
//This should be abstracted into its own component for order-book for now we take advantage of the fact that css gets overwritten in lower components
@media
only screen and (max-width: 768px) {
	td:nth-of-type(1):before { content: "Bid: " }
	    td:nth-of-type(2):before { content: "Asking Price: " }
	    td:nth-of-type(3):before { content: "Qty: " }
	    td:nth-of-type(4):before { content: "Who: " }
}
