<main class="container-fluid page-main-content">
  <div class="row align-items-stretch">

    <div class="col-12 col-md-8 col-lg-10">
      <h1 class="title">
        {{ currentProject?.name|titlecase }}'s project status
      </h1>

      <ul class="nav nav-tabs" id="auction-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab == 0" id="transaction-history-tab" data-toggle="tab"
            data-target="#contribution-history" role="tab" aria-controls="transaction-history" aria-selected="true"
            target="_self" (click)="selectedTab = 0;">Transaction
            history</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab == 1" id="contribution-history-tab" data-toggle="tab"
            data-target="#contribution-history" role="tab" aria-controls="contribution-history" aria-selected="true"
            target="_self" (click)="selectedTab = 1;">Contribution
            history</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="selectedTab == 2" id="order-book-tab" data-toggle="tab"
            data-target="#order-book" role="tab" aria-controls="order-book" aria-selected="false" target="_self"
            (click)="selectedTab = 2;">Order book</a>
        </li>
      </ul>
      <div class="tab-content" id="auction-tab-content">
        <div class="tab-pane fade" [class.show]="selectedTab == 0" [class.active]="selectedTab == 0"
          id="transaction-history" role="tabpanel" aria-labelledby="transaction-history-tab">
          <h3>Transactions</h3>
          <div class="table-responsive">
            <app-table-transactions [git-project]="currentProject"></app-table-transactions>
          </div>
        </div>

        <div class="tab-pane fade" [class.show]="selectedTab == 1" [class.active]="selectedTab == 1"
          id="contribution-history" role="tabpanel" aria-labelledby="contribution-history-tab">
          <h3>Contributions</h3>
          <div class="table-responsive">
            <app-table-contributions [git-project]="currentProject"></app-table-contributions>
          </div>
        </div>
        <div class="tab-pane fade" [class.show]="selectedTab == 2" [class.active]="selectedTab == 2" id="order-book"
             role="tabpanel" aria-labelledby="buying-offers-tab">
          <h3> Orders </h3>
          <div class="table-responsive">
            <table class="table table-hover table-striped table-dark">
              <thead>
              <tr>
                <th>Bid (to buy) per token</th>
                <th>Ask (to sell) per token</th>
                <th>Quantity</th>
                <th>Who</th>
                <th class="actions">Action</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let sale of currentSales">
                <td>
                </td>
                <td>
                      <span class="badge badge-warning">
                        <i class="fas fa-fw fa-money-bill"></i>
                        {{ sale.sell_price_per_token | number : "1.2-4" }} SDG
                      </span>
                </td>
                <td>
                  {{ sale.remaining_tokens }} <i class="fas fa-fw fa-coins"></i>
                </td>
                <td>
                  <a href="https://github.com/{{ sale.seller?.username }}">
                    @{{ sale.seller?.username }}
                  </a>
                </td>
                <td class="actions">
                  <a class="btn btn-dark" data-toggle="modal" (click)="buyTokens(buyModalForm, sale)"
                     aria-controls="buy-modal">
                    <i class="fas fa-fw fa-gavel"></i> Buy
                  </a>
                </td>
              </tr>
              <tr *ngFor="let offer of currentPurchaseOffers">
                <td>
                  <span class="badge badge-warning">
                    <i class="fas fa-fw fa-money-bill"></i>
                    {{ offer.purchase_price_per_token | number : "1.2-4" }} SDG
                  </span>
                </td>
                <td>
                </td>
                <td>
                  {{ offer.number_of_tokens }} <i class="fas fa-fw fa-coins"></i>
                </td>
                <td>
                  <a href="https://github.com/{{ offer.purchaser?.username }}">
                    @{{ offer.purchaser?.username }}
                  </a>
                </td>
                <td class="actions">
                  <a class="btn btn-dark" data-toggle="modal" data-target="#new-offer-modal"
                     aria-controls="new-offer-modal">
                    <i class="fas fa-fw fa-gavel"></i> Sell
                  </a>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>
                  <a class="btn btn-dark" data-toggle="modal" data-target="#new-purchase-offer-modal"
                     aria-controls="new-purchase-offer-modal">
                    <i class="fas fa-fw fa-shopping-cart"></i> New bid
                  </a>
                </th>
                <th>
                  <a class="btn btn-dark" data-toggle="modal" data-target="#new-offer-modal"
                    aria-controls="new-offer-modal">
                    <i class="fas fa-fw fa-shopping-cart"></i> New sell offer
                  </a>
                </th>
              </tr>
              </tfoot>
            </table>

          </div>
        </div>

      </div>

      <!-- Buy modal -->
      <ng-template #buyModalForm>
        <div class="" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="buy-modal-title">Buy tokens</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeBuyModalForm()">
                <span aria-hidden="true"><i class="fas fa-fw fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="submitBuyingForm()" [formGroup]="buyForm" [ngClass]="{'submitted': buyFormSumitted}">
                <div class="form-group row">
                  <label class="col-sm-7" for="number-of-tokens">
                    Number of tokens
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" class="form-control" id="number-of-tokens" placeholder="Tokens" min="1"
                        step="1" formControlName="nb_tokens"
                        (input)="onNbOfTokensToBuyChange($event.target.value, totalPrice)">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-coins"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="buyForm.get('nb_tokens').errors">
                      {{ buyForm.get('nb_tokens').errors.nbTokens }}
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-7" for="value-of-tokens">
                    Total
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="text" class="form-control" id="value-of-tokens" placeholder="Total" #totalPrice
                        disabled>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-money-bill"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 text-right">
                    <button type="submit" class="btn" [disabled]="buyingFormDisabled"><i
                        class="fas fa-fw fa-shopping-cart"></i> Buy</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- New offer modal -->
      <div class="modal fade" id="new-offer-modal" tabindex="-1" role="dialog" aria-labelledby="new-offer-modal-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="new-offer-modal-title">Sell tokens</h5>
              <button #sellModalCloseButton type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-fw fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="sellForm" (ngSubmit)="submitSellForm()" [ngClass]="{'submitted': sellFormSubmitted}">
                <div class="form-group row">
                  <label class="col-sm-7" for="number-of-tokens-to-sell">
                    Number of tokens to sell
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" class="form-control" id="number-of-tokens-to-sell" placeholder="Tokens"
                        min="1" step="1" formControlName="number_of_tokens"
                        [ngClass]="{ 'is-invalid': sellFormSubmitted && sellForm.get('number_of_tokens').errors }">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-coins"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="sellForm.get('number_of_tokens').errors">
                      Please provide the number of tokens to sell.
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-7" for="number-of-tokens-to-sell">
                    Price per token
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" class="form-control" id="price-per-token" placeholder="Tokens" min="1"
                        step="1" formControlName="sell_price_per_token"
                        [ngClass]="{ 'is-invalid': sellFormSubmitted && sellForm.get('sell_price_per_token').errors }">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-money-bill"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="sellForm.get('sell_price_per_token').errors">
                      Please provide the price per token.
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12 text-right">
                    <button type="submit" class="btn" [disabled]="sellingFormDisabled"><i
                        class="fas fa-fw fa-shopping-cart"></i> Sell</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- New purchase offer-->
      <div class="modal fade" id="new-purchase-offer-modal" tabindex="-1" role="dialog"
        aria-labelledby="new-purchase-offer-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="new-purchase-offer-modal-title">Purchase offer</h5>
              <button #purchaseOfferModalCloseButton type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-fw fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="purchaseOfferForm" (ngSubmit)="submitPurchaseOfferForm()"
                [ngClass]="{'submitted': purchaseOfferFormSubmitted}">
                <div class="form-group row">
                  <label class="col-sm-7" for="number-of-tokens-to-purchase">
                    Number of tokens to purchase
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" class="form-control" id="number-of-tokens-to-purchase" placeholder="Tokens"
                        min="1" step="1" formControlName="number_of_tokens"
                        [ngClass]="{ 'is-invalid': purchaseOfferFormSubmitted && purchaseOfferForm.get('number_of_tokens').errors }">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-coins"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="purchaseOfferForm.get('number_of_tokens').errors">
                      Please provide the number of tokens to purchase.
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-7" for="number-of-tokens-to-purchase-offer">
                    Price per token
                  </label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" class="form-control" id="price-per-token" placeholder="Tokens" min="1"
                        step="1" formControlName="purchase_price_per_token"
                        [ngClass]="{ 'is-invalid': purchaseOfferFormSubmitted && purchaseOfferForm.get('purchase_price_per_token').errors }">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fas fa-fw fa-money-bill"></i>
                        </span>
                      </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="purchaseOfferForm.get('purchase_price_per_token').errors">
                      Please provide the price per token.
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12 text-right">
                    <button type="submit" class="btn" [disabled]="buyingFormDisabled"><i class="fas fa-fw fa-shopping-cart"></i>
                      Create purchase offer</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
