<table class="table table-hover table-striped table-dark">
  <thead>
    <tr>
      <th>Date</th>
      <th *ngIf="!currentProject">Project</th>
      <!--th>User</th-->
      <th>Commit</th>
      <th>Tokens generated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contribution of currentContributions">
      <td>
        {{ contribution.calculation_utc_datetime | slice:0:10 }}
      </td>

      <td *ngIf="!currentProject">
        {{ contribution.git_project.name }}
      </td>
      <!--td *ngIf="currentProject" >
        <a href="https://github.com/{{ contribution.user.username }}">
          {{ contribution.user.name || contribution.user.username }}
        </a>
      </td-->
      <td>
        <a href="{{ contribution.git_project.git_address }}/commit/{{ contribution.commit_id }}">
          #{{ contribution.commit_id | slice:0:8 }}
        </a>
      </td>
      <td>
        <i class="fas fa-fw fa-coins"></i>
        {{ contribution.transaction.nb_tokens }}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2" class="text-right">
        Total
      </th>
      <th>
        <i class="fas fa-fw fa-coins"></i>
        {{ (contributionsSum() || 0) |number : '1.2-4' }}
        (Generated: {{ (currentProject?.own_value || 0) | number: '1.2-4'}})
      </th>
    </tr>
  </tfoot>
</table>